<!doctype html>
<html ng-app="test-app" lang="en">
<head>
  <meta charset="utf-8">
  <title>Index</title>
</head>

<body>
  <div class="container">
    Names:<input type="text" ng-model="firstName"/> {{ firstName }}
    <br/>

    <h3>Looping with the ng-repeat directive</h3>
    <ul ng-init="names=[{'firstName':'Alan','lastName':'Li'},
    {'firstName':'Bob','lastName':'Meng'},
    {'firstName':'Clob','lastName':'Guo'},
    {'firstName':'David','lastName':'Li'}]">
    <li ng-repeat="name in names | filter:firstName | orderBy: 'lastName'">
      {{ name.firstName | uppercase}} {{name.lastName | uppercase}}
    </li>
  </ul>
  <br/>
</div>

<div ng-controller="ProductDataController">
  Products: <input type="text" ng-model="itemCodeStr"/>
  <br/>
  {{ itemCodeStr }}
  <h3> Products</h3>
  <ul>
    <li ng-repeat="prod in products | filter:itemCodeStr : itemCodeComparator | orderBy:'price'">
      {{ prod.itemCode }} {{prod.productName}} {{ prod.price }}
    </li>
  </ul>
</div>
<hr/>

<div ng-controller="ProductDataController2">
  Products: <input type="text" ng-model="itemCodeStr"/>
  <br/>
  {{ itemCodeStr }}
  <h3> Products</h3>
  <ul>
    <li ng-repeat="prod in products | filter:itemCodeStr : itemCodeComparator | orderBy:'price'">
      {{ prod.itemCode }} {{prod.productName}} {{ prod.price }}
    </li>
  </ul>
</div>
<hr/>


<div ng-controller="ProductDataRouteController">
  <a href="#/views/view1">View One</a>|
  <a href="#/views/view2">View Two</a>

  <div ng-view></div>
</div>



</body>

<script src="lib/js/angular.1.5.5.js"></script>
<script src="lib/js/angular-route.1.5.5.js"></script>
<script src="index.js"></script>

</html>
